{% extends "layout.html" %}
{% block content %}
<h1> Courses </h1>
{% for course in courses %}
    

<article class="media content-section">
    <div class="media-body">
    <a class ="article-title" href={{url_for('courses')}}>
        <div class="article-metadata">
             {{course.name}}
        </div>
        <div class="article-content">
            {{course.description}} 
        </div>
        <p class="article-content">
            {{course.duration}}
        </p>
        <a class ="article-title" href={{url_for('dash')}}><button>Save Course</button></a>

    </div>
</article>




{% endfor %}
{% endblock %}