{% extends 'layout.html' %}

{% block content %}
    <div class="jumbotron text-center">
        <h1> Dash</h1>

        {% for course in courses %}

        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    {{course.name}}
                </div>
                <div class="article-content">
                    {{course.description}} 
                </div>
                <p class="article-content">
                    {{course.duration}}
                </p>
            </div>
        </article>

        {% endfor %}
        <!--<button type="button" class="music" onclick="play()"></button>-->
    </div>
{% endblock %}