{% extends "layout.html" %}
{% block content %}
<h1> Sessions </h1>
{% for session in sessions %}
<article class="media content-section">
    <div class="media-body">
    <a class ="article-title" href={{url_for('sessions')}}>
        <div class="article-metadata">
             {{session.name}}
        </div>
        <div class="article-content">
            {{session.description}}
        </div>
        <p class="article-content">
            {{session.duration}}
        </p>
        <div class="message-body">
            {{session.audio}}
        </div>
    </a>
    
    </div>
</article>
{% endfor %}
{% endblock %}


